.svgIcon {
  min-width: 1em;
  min-height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.tabBarIcon {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.historyTitleIcon {
  width: 22px;
  height: 22px;
}

.userIcon {
  width: 30px;
  height: 30px;
}